@keyframes modalContentOpen {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modalContentClose {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

/* Background overlay animation */
@keyframes modalBackgroundOpen {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes modalBackgroundClose {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.modalContentOpen {
    animation: modalContentOpen 600ms ease-out forwards;
}

.modalContentClose {
    animation: modalContentClose 600ms ease-out forwards;
}

.modalBackgroundOpen {
    animation: modalBackgroundOpen 600ms ease-out forwards;
}

.modalBackgroundClose {
    animation: modalBackgroundClose 600ms ease-out forwards;
}

.modalBackground {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modalContainer {
    background-color: white;
    width: 500px;
    border-radius: 0.75rem;
    padding: 1.5rem;
    position: relative;
}